<a href="https://colab.research.google.com/github/hannahph4m/bus4-118/blob/main/Data_Aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Sample dataset
data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George'],
    'Salary': [60000, 65000, 58000, 62000, 70000, 72000, 71000],
    'Bonus': [5000, 6000, 4000, 4500, 5500, 6000, 5800]
}

df = pd.DataFrame(data)

print(" Original Data:")
print(df)

# ---- 1. Grouping and Aggregation ----

# Group by Department and calculate mean Salary and Bonus
grouped = df.groupby('Department')[['Salary', 'Bonus']].mean()

print("\n Average Salary and Bonus by Department:")
print(grouped)

# You can also use multiple aggregation functions
grouped_multi = df.groupby('Department').agg({
    'Salary': ['mean', 'max'],
    'Bonus': 'sum'
})

print("\n Grouped with Multiple Aggregations:")
print(grouped_multi)

# ---- 2. Pivot Tables ----

# Create a pivot table to show average Salary by Department
pivot = pd.pivot_table(df, values='Salary', index='Department', aggfunc='mean')

print("\n Pivot Table - Average Salary by Department:")
print(pivot)

# Pivot Table with multiple values and aggregation
pivot_multi = pd.pivot_table(df, values=['Salary', 'Bonus'], index='Department', aggfunc='sum')

print("\n Pivot Table - Total Salary and Bonus by Department:")
print(pivot_multi)

 Original Data:
  Department Employee  Salary  Bonus
0      Sales    Alice   60000   5000
1      Sales      Bob   65000   6000
2         HR  Charlie   58000   4000
3         HR    Diana   62000   4500
4         IT    Ethan   70000   5500
5         IT    Fiona   72000   6000
6         IT   George   71000   5800

 Average Salary and Bonus by Department:
             Salary        Bonus
Department
HR          60000.0  4250.000000
IT          71000.0  5766.666667
Sales       62500.0  5500.000000

 Grouped with Multiple Aggregations:
             Salary         Bonus
               mean    max    sum
Department
HR          60000.0  62000   8500
IT          71000.0  72000  17300
Sales       62500.0  65000  11000

 Pivot Table - Average Salary by Department:
             Salary
Department
HR          60000.0
IT          71000.0
Sales       62500.0

 Pivot Table - Total Salary and Bonus by Department:
            Bonus  Salary
Department
HR           8500  120000
IT          17300  213000
Sales       11000  125000